<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/navbar-fixed-side.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =
        h + ":" + m;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
</head>
<body onload="startTime()">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="col-xs-2 col-md-2 fit-size-toscreen navigation-container " style="background-color:#3b3b3b;">
                <div class="text-center" id="clock"></div>
                <div class="text-center">
                    @Html.ActionLink("NEW", "New", "Messages", null, new { @class = "btn btn-danger", @id = "new_button" })
                </div>
                <ul class="menu-nav">
                    <li>@Html.ActionLink("Inbox","Index","Home")</li>
                    <li>@Html.ActionLink("Sent","Outbox","Messages")</li>
                </ul>
            </div>
            <div class="col-xs-10 col-md-10 fit-size-toscreen">
                @RenderBody()
            </div>
        </div>
    </div>       
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
