<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/navbar-fixed-side.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <script src="~/Scripts/messagescontroller.js"></script>
    <script src="~/Scripts/ClockJS.js"></script>
    <script src="https://use.fontawesome.com/11a80ab1b5.js"></script>   
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="col-xs-2 col-md-2 fit-size-toscreen navigation-container " style="background-color:#181818;">
                <div class="text-center" id="clock"></div>
                <div class="text-center">
                    @*@Html.ActionLink("NEW", "New", "Messages", null, new { @class = "btn btn-danger", @id = "new_button" })*@
                    <button class="btn btn-danger" id="new_button">WRITE</button>
                </div>
                <ul class="menu-nav">
                    <li>@Html.ActionLink("Inbox","Inbox","Messages")</li>
                    <li>@Html.ActionLink("Sent","Outbox","Messages")</li>
                </ul>
            </div>
            <div class="col-xs-10 col-md-10 fit-size-toscreen">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="Modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
                <h2 class="text-center">New message</h2>
            </div>
            <div class="modal-body">
                <form id="new_message">
                    <div class="form-group">
                        <label for="text">Title</label>
                        <input type="text" class="form-control" name="MailTitle"/>
                    </div>
                    <div class="form-group">
                        <label for="email">To</label>
                        <input type="email" class="form-control" name="MailTo" />
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" rows="5" name="MailContent"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Send</button>
                </form>
            </div>          
        </div>

    </div>          
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
