<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Style/Content/navbar-fixed-side.css" rel="stylesheet" />
    <link href="~/Style/Content/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/Style/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <script src="~/Style/Scripts/messagescontroller.js"></script>
    <script src="~/Style/Scripts/ClockJS.js"></script>
    <script src="https://use.fontawesome.com/11a80ab1b5.js"></script>
    <script src="~/Style/Scripts/jquery.scrollbar.js"></script>
    <script src="~/Style/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Style/Scripts/ChatController.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.scrollbar-outer').scrollbar();
        });            
    </script>
    <script src="~/Style/Scripts/searchJS.js"></script>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>              
            </div>
            <div class="hidden-xs hidden-sm col-md-2 fit-size-toscreen navigation-container collapse navbar-collapse navbar-ex1-collapse" style="background-color:#181818;">
                <div class="text-center" id="clock"></div>
                <div class="text-center">
                    <button class="btn btn-danger redButtons" id="new_button">WRITE</button>
                </div>
                <div class="menu-container">
                    <ul class="menu-nav">
                        <li>@Html.ActionLink("Inbox", "Inbox", "Messages")</li>
                        <li>@Html.ActionLink("Sent", "Outbox", "Messages")</li>
                    </ul>
                </div>                
            </div>
            <div class="col-sm-12 col-xs-12 col-md-10 fit-size-toscreen" id="MailBox">
                @RenderBody()
            </div>
            <div class="hidden-xs hidden-sm col-md-3 fit-size-toscreen nopadding" id="chat">
                <div class="chat_menu fit-size-toscreen">
                    <div class="chat_menu-header">
                        <h3>Chat</h3>
                    </div>
                    <div class="chat_menu-nav">
                        <h3 id="loggedName"></h3>
                        <div class="loginDialog">
                            <form>
                                <div class="form-group">
                                    <label for="login">Your name:</label>
                                    <input type="text" class="form-control" id="login">
                                </div>
                                @*<button type="submit" class="btn btn-default">Zaloguj</button>*@
                            </form>
                        </div>
                    </div>
                    <div class="chat_menu-people">
                        <h3>CONTACTS</h3>
                        <div class="chat_menu-peoplelist">
                        </div>                      
                    </div>
                    <div class="chat_menu-talks"></div>  
                </div>                               
            </div>
        </div>
    </div>
    <input id="loggedID" type="hidden" />
    <div id="Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
                <h2 class="text-center">New message</h2>
            </div>
            <div class="modal-body">
                <form id="new_message">
                    <div class="form-group">
                        <label for="text">Title</label>
                        <input type="text" class="form-control" name="MailTitle"/>
                    </div>
                    <div class="form-group">
                        <label for="email">To</label>
                        <input type="email" class="form-control" name="MailTo" />
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" rows="5" name="MailContent"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Send</button>
                </form>
            </div>          
        </div>

    </div>        
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
