@model PagedList.IPagedList<MJmail.Models.Message>
@using System.Globalization;
@using PagedList.Mvc;

@{ 
    int box=ViewBag.Box;
}

<div class="scrollbar-outer">
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.EncodedID">
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" value="@item.EncodedID">
                            <label></label>
                        </div>
                    </td>

@* Wyswietlanie INBOX/OUTBOX *@
    @if (box==1)
    {
        if (item.MailToName != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.MailFromName)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.MailFrom)
            </td>
        }
    }
    else
    {
        if (item.MailToName != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.MailToName)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.MailTo)
            </td>
        }
    }

                    <td>
                        @Html.DisplayFor(modelItem => item.MailTitle)
                    </td>

                    @if (DateTime.Now.Date == item.MailDate.Date)
                    {
                        <td class="right-align">Today,  @item.MailDate.ToShortTimeString()</td>
                    }
                    else if (DateTime.Now.Date.AddDays(-1) == item.MailDate.Date)
                    {
                        <td class="right-align">Yesterday,  @item.MailDate.ToShortTimeString()</td>
                    }
                    else
                    {
                        <td class="right-align">@item.MailDate.ToString("dd MMM", new CultureInfo("en-US"))</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@if (box == 1)
{
    @Html.PagedListPager(Model, page => Url.Action("Inbox", new { page, box }), new PagedListRenderOptions { DisplayLinkToNextPage = PagedListDisplayMode.Never, DisplayLinkToPreviousPage = PagedListDisplayMode.Never, LinkToIndividualPageFormat = "", ContainerDivClasses = new[] { "dotstyle" }, UlElementClasses = new[] { "" } })
}
else
{
    @Html.PagedListPager(Model, page => Url.Action("Outbox", new { page, box }), new PagedListRenderOptions { DisplayLinkToNextPage = PagedListDisplayMode.Never, DisplayLinkToPreviousPage = PagedListDisplayMode.Never, LinkToIndividualPageFormat = "", ContainerDivClasses = new[] { "dotstyle" }, UlElementClasses = new[] { "" } })
}
