@model MJmail.Models.Message

<div class="message-details">
    <div class="message-details-header">
        <h2>@Html.DisplayFor(model => model.MailTitle)</h2>
        <div class="message-details-nav">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <div class="message-details-info">
            @{
                if (Model.MailFrom == "mjasiak@pl.sii.eu")
                {
                    <h3>
                        @Html.DisplayFor(model => model.MailTo)
                    </h3>
                }
                else
                {
                    <h3>
                        @Html.DisplayFor(model => model.MailFrom)
                    </h3>
                }
            }
            <p>
                @Html.DisplayFor(model => model.MailDate)
            </p>
        
        <hr />
    </div>
    <div class="message-details-content">          
                @Html.Raw(Model.MailContent)            
    </div>   
</div>
