@using System.Globalization
@using PagedList.Mvc;
@model PagedList.IPagedList<MJmail.Models.Message>

@{
    ViewBag.Title = "Inbox";
}
<div class="row fit-size-toscreen">
    <div class="col-xs-12 col-md-12 fit-size-toscreen boxes">
        <div class="boxes-header">
            <h1>Inbox</h1>
            <i class="fa fa-angle-down"></i>
        </div>      
        <div class="message-navigation">
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x notworked"></i>
                <i class="fa fa-angle-down fa-stack-1x notworked"></i>
            </span>
            <a href="@Url.Action("Inbox","Messages")">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-refresh fa-stack-1x"></i>
                </span>
            </a>           
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x notworked"></i>
                <i class="fa fa-share fa-stack-1x notworked"></i>
            </span>
            <a href="">
                <span class="fa-stack" id="remove_button">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa fa-times fa-stack-1x"></i>
                </span>
            </a>            
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x notworked"></i>
                <i class="fa fa-exclamation fa-stack-1x notworked"></i>
            </span>
        </div>
        <table class="table table-striped">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.EncodedID">
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" value="@item.EncodedID"></label>
                            </div>
                        </td>

                        @if (item.MailToName != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.MailFromName)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.MailFrom)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.MailTitle)
                        </td>

                        @if (DateTime.Now.Date == item.MailDate.Date)
                        {
                            <td class="right-align">Today,  @item.MailDate.ToShortTimeString()</td>
                        }
                        else if (DateTime.Now.Date.AddDays(-1) == item.MailDate.Date)
                        {
                            <td class="right-align">Yesterday,  @item.MailDate.ToShortTimeString()</td>
                        }
                        else
                        {
                            <td class="right-align">@item.MailDate.ToString("dd MMM", new CultureInfo("en-US"))</td>
                        }   
                    </tr>
                }
            </tbody>

        </table>
        @Html.PagedListPager(Model, page => Url.Action("Inbox", new { page }), new PagedListRenderOptions { DisplayLinkToNextPage = PagedListDisplayMode.Never, DisplayLinkToPreviousPage = PagedListDisplayMode.Never, LinkToIndividualPageFormat = "", ContainerDivClasses = new[] { "dotstyle" }, UlElementClasses = new[] { "" } })
    </div>
    <div id="ajaxTarget" class="col-xs-6 col-md-6 fit-size-toscreen nopadding">
    </div>
</div>